%h1 Space
%h2.text-2xl.text-gray-700.m-0
  .table-container.relative.overflow-auto.max-h-96 Contratos
  %table#dashboard-table.min-w-full.border-collapse
    %thead.bg-gray-100.text-gray-700.sticky.top-0.uppercase.text-sm
      %tr
        %th.px-4.py-2.border-b.border-gray-300.text-left Clave
        %th.px-4.py-2.border-b.border-gray-300.text-left Nombre
        %th.px-4.py-2.border-b.border-gray-300.text-left Status
        %th.px-4.py-2.border-b.border-gray-300.text-left CURP
        %th.px-4.py-2.border-b.border-gray-300.text-left Email
        %th.px-4.py-2.border-b.border-gray-300.text-left Role

    %tbody
      - @users.each do |user|
        %tr.bg-white.odd:bg-gray-100.cursor-pointer{"data-controller" => "navigate", "data-action" => "click->navigate#toShow", "data-navigate-url" => dashboard_show_path(user)}
          %td.px-4.py-1.border-b.border-gray-200.text-sm= user.clave
          %td.px-4.py-1.border-b.border-gray-200.text-sm= user.nombre
          %td.px-4.py-1.border-b.border-gray-200.text-sm= user.status
          %td.px-4.py-1.border-b.border-gray-200.text-sm= user.curp
          %td.px-4.py-1.border-b.border-gray-200.text-sm= user.email
          %td.px-4.py-1.border-b.border-gray-200.text-sm= user.role


